div {
  margin: 10px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.item {
  list-style: none;
  padding: 10px;
  margin: 10px;
  background: seagreen;
  text-align: center;
}

input {
  width: 50px;
}
